<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WeatherSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WeatherSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://wsf.cdyne.com/WeatherWS/Weather.asmx"
        binding="basicHttpBinding" bindingConfiguration="WeatherSoap"
        contract="WeatherOutageService.WeatherSoap" name="WeatherSoap" />
      <endpoint address="http://wsf.cdyne.com/WeatherWS/Weather.asmx"
        binding="customBinding" bindingConfiguration="WeatherSoap12"
        contract="WeatherOutageService.WeatherSoap" name="WeatherSoap12" />
    </client>
  </system.serviceModel>
</configuration>
